.oasis-banner {
    background-color: black;
    height: 55px;
}

.oasis-banner img {
    margin: .3em;
}

.oasis-required-language {
    color: hsla(0,0%,100%,.7);
    font-size: 14px;
    line-height: 1.5;
}

.oasis-required-language a {
    color: hsla(0,0%,100%,.7);
}

.sponsor-list-logo {
    display: inline-block;
    vertical-align: middle;
    width: 140px; 
    margin: 20px;
}

.news-imgs {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 25px;
}

.press-img {
    max-width: 15%;
    min-height: 50px;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}
