<h2 class="f2">Member Content</h2>
<aside class="">
  {{ range first 10 (where .Paginator.Pages ".Params.tag" "blog") }}
      <div class="">
        {{ $featured_image := .Params.featured_image }}
<article class="">
    <div class="member-post">
      {{ if .Params.featured_image }}
          {{/* Trimming the slash and adding absURL make sure the image works no matter where our site lives */}}
        {{ $featured_image := (trim $featured_image "/") | absURL }}
        <div class="post-image">
          <a href="{{.Params.published_url}}" class="">
            <img src="{{ $featured_image }}" class="" alt="image from {{ .Title }}">
          </a>
        </div>
      {{ end }}
      <div class="">
        <h1 class="">
          <a href="{{.Params.published_url}}" target="_blank" class="color-inherit dim link">
            {{ .Title }}
            </a>
        </h1>
        <div class="post-summary">
          By {{ .Params.author }}, {{ if .Date }}
            {{ .Date.Format "January 2, 2006" }}
          {{ end }}
        <div class="">
          {{ .Params.summary }}
        </div>
          <a href="{{.Params.published_url}}" target="_blank" class="">go to article</a>
      </div>
    </div>
</article>
      </div>
    {{ end }}
  </aside>
  {{ template "_internal/pagination.html" . }}