<h2 class="f2">News Releases</h2>
<aside class="flex-ns flex-wrap justify-around mt0">
    {{ range where .Paginator.Pages ".Params.tag" "news" }}
      <div class="relative w-100 w-40-l mb0 bg-white">
        <div class="mb3 mid-gray overflow-hidden">
          {{ if .Date }}
            <div class="f6">
              {{ .Date.Format "January 2, 2006" }}
            </div>
          {{ end }}
          <h3 class="f4 near-black">
            <a href="{{ .URL }}" class="link black dim">
              {{ .Title }}
            </a>
          </h3>
          <div class="nested-links f5 lh-copy nested-copy-line-height">
            {{ .Params.summary  }}
          </div>
        </div>      
      </div>
    {{ end }}

  </aside>
