<h2 class="f2">Press Clippings</h2>
<aside class="">
    {{ range where .Pages ".Params.tag" "press" }}
      <div class="">
        <div class="press">
            <div class="db">
            <h3 class="">
              <a href="{{ .Params.published_url }}" class="">
                {{ .Title }}
              </a>
            </h3>
            <div class="press-details">
              {{ .Params.publisher  }}, {{ if .Date }}
                {{ .Date.Format "January 2, 2006" }}
              {{ end }}
            </div>
          </div>
          </div>
      </div>
    {{ end }}
  </aside>
