<h2><a name="tsc"></a>Technical Steering Committee (TSC)</h2>
<p>The TSC directs the day-to-day technical activities of the OCA. TSC
members include representatives from the developer community who are
actively contributing to the project.</p>
<h3>Current TSC Members</h3>
{{ range where site.RegularPages "Section" "tsc-reps" }}
{{ if .Params.tsc_rep_name }}
    <div class="pgb-list">
    <h4>{{ .Params.tsc_rep_name }}</h4>
    <p>{{ .Params.tsc_rep_title }}<br>
        {{ .Params.company }}</p>
    </div>
{{ end }}  
{{ end }}