<article class="cf">
    <div class="mt5 fl w-100 w-50-ns bg-white tc">
        <div class="video-container mr4 ml4">
        <iframe width="329" height="185" src="https://www.youtube.com/embed/qZgeJ01cqeQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
    <div class="mt5 fl w-100 w-50-ns bg-white tl">
      <h2 class="mr4">An Open Cybersecurity Ecosystem</h2>
      <p class="mr4 lh-copy">The OCA brings together vendors and end users in an open cybersecurity
        ecosystem where products can freely exchange information, insights,
        analytics, and orchestrated response. The OCA supports commonly
        developed code and tooling and the use of mutually agreed upon
        technologies, data standards, and procedures.</p>
    </div>
</article>
