<article class="cf">
    <div class="mt5 fl w-100 w-50-ns bg-white tc">
        <iframe width="329" height="185" src="https://www.youtube.com/embed/qZgeJ01cqeQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="mt5 fl w-100 w-50-ns bg-white tc">
      <h2 class="mr4">A Global Alliance for Sharing Cybersecurity Data</h2>
      <p class="mr4">The OCA brings together vendors and end users in an open cybersecurity
        ecosystem where products can freely exchange information, insights,
        analytics, and orchestrated response. The OCA supports commonly
        developed code and tooling and the use of mutually agreed upon
        technologies, data standards, and procedures.</p>
    </div>
</article>
